body{
  max-width: 960px;
  margin: auto;
}
header {
  float: left;
  padding: 25px;
  border-radius: 25px;
}
nav {
  margin: 0px auto;
  width: 960px;
}

header img {
  margin-top: 10px;
  float: left;
  margin-right: 30px;
  width: 300px;
}
header ul {
    list-style: none;
}

header ul li{
  display: inline-block;
  line-height: 90px;
  margin-right: 90px;

}

feature ul{
  list-style: url('img/salmon-list.png');
}


/* feature ul li:before{
  list-style-image: url('img/salmon-list.png');

}
   */