/*  
1. Create wireframe for sight
2. make sure elements are in HTML
3. setup fonts per instructions
  3.1 A specified standard sans-serif web font for data (such as Arial, Verdana, or Helvetica)
  3.2	A specified standard serif web font for text (such as Georgia, Times, etc.)
  3.3	Specified different font colors for all three font usages
4. background color for page, elements such as tables and boxes



*/
body{

   background-color: lavenderblush;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
}
header {
    margin: 0px auto;
    width: 960px;
    height: 175px;
    background-color: salmon;
    /* display: flex; */
    
}
header h1{
  text-align: center;
}
header img {
  margin-top: 5px; 
  /* padding-left: 90px; */
  float: center;
  margin: 0px auto;
  width: 300px;
  
}
nav {
  /* margin-top: 20px; */
  /* margin-right: 60px; */
  float: right;
  outline: seagreen 2px dotted;
}

header > nav > ul > li {
  
  display: inline-block;
  width: 100px;
  border: 2px solid black;
  margin-right: 30px;
  border-radius: 25px;
  text-align: center;

}
main {
  margin: 0px auto;
  width: 960px;
  background-color: salmon;
}

.hero{
  /* margin: 20px auto;
  width: 960px; */
  display: flex
}

.hero img{
  float: left;
  padding: 10px;
  /* carousel */
}
.hero p{
  float: right;
  padding: 15px;
}
div{
  background-color: salmon;
}
.features{
  /* background-color: salmon; */
  margin: 0px auto;
  width: 960px;
  display: flex
}

section{
  background-color: salmon;
  /* display: flex; */
}
.weekly-cookie{
  margin: 0px auto;
  /* flex: 1; */
}
.weekly-cookie img p{
  vertical-align: middle;
  padding-top: 10px;
  
}
.monthly-feature {
  vertical-align: middle;
  /* flex: 1; */
}
.monthly-blog{
  /* flex: 1; */

}

footer{
  margin: 0px auto;
  width: 960px;
  background-color: salmon;
  outline: dotted 5px green;
  
}
footer ul {
  list-style: none;
}
footer li {
  display: inline-block;
  vertical-align: auto;
  font-size: x-small;
  padding: 25px;
}

footer > p{
    background-color: salmon;
  float: right;
}














.buildNewStore {
  display: inline-block;
  /* background-color: skyblue; */
  
}
table {
  outline: ridge 5px greenyellow;
  align-content: center;
  float: inherit;
  table-layout: auto;
}
th{
  background-color: lightcoral;
  display: none;
}
tr{
  background-color: lightpink;

}

td{
  background-color: linen;
}
div{
  display: inline-block;
  /* background-color: skyblue;   */
}
 
div ul{
  margin-top: 50px;
  align-items: center;
  align-content: center;
 

}
/* so create a Unique UL for each city