
body{
  background-color: salmon;
  
}
div{
  background-color: skyblue;
  display: inline-block;
  
}

h3 {
  float: left;
  align-items: center;
  
  
}
div ul{
  float: left;
  margin-top: 50px;

}