
body{
  max-width: 960px;
  margin: auto;
  background-color: salmon;
}
header {
  float: left;
  padding: 25px;
  border-radius: 25px;
}
nav {
  margin: 0px auto;
  width: 960px;
}

header img {
  margin-top: 10px;
  float: left;
  margin-right: 30px;
  width: 300px;
}
header ul {
    list-style: none;
}

header ul li{
  display: inline-block;
  line-height: 90px;
  margin-right: 90px;

}




div{
  background-color: skyblue;
  display: inline-block;
  
}

h3 {
  float: left;
  align-items: center;
  
  
}
div ul{
  float: left;
  margin-top: 50px;

}