
/* entire docuemnt */
body {
  /* background-color: cyan; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(15, 15, 20); 
  background-image: url("images/bambooforrest.jpg"); 
     
}
/*  Header */

header {
  margin: 0px auto;
  width: 960px;
  /* background-color: darkgreen;   */
  background-color: rgba(0,100,0, .85);
  height: 175px;

}


header>img {
  height: 150px ;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}


h1 {
  text-align: center;
  padding-top: 30px;

}
header > nav {
  float: right;
  

}

header > nav > ul > li {
  display: inline-block;
  width: 100px;
  border: 2px solid black;
  margin-right: 30px;
  border-radius: 25px;
  text-align: center;

}

header > nav > ul > li> a {
  color: inherit;
  
}


/* Main area */

main{
  margin: 0px auto; 
  width: 960px;
  background-color: rgba(90, 138, 90, .95);
  
}

section {
 /* Fun Facts */
  width: 150px;
  display: inline-block;
  /* border: 1px solid red; */
  text-align: left;
  font-size: 10px;
  vertical-align: top;
  padding: 5px;
  font-weight: bolder;
  


}
#funphoto {
  height: 150px;
}
/* main hero and description */
#description{
  width: 660px;
  display: inline-block;
  /* border: 2px dotted black; */
  margin-top: 5px;
  padding: 20px;
  text-align: justify;
  font-size: 14px;
  font-weight: lighter;

}

#hero{
  float: right;
  height: 300px;
  padding: 10px;
  border-width: 5px;
}

/* footer alignment */

footer {
  margin: 0px auto;
  width: 960px;
  /* background-color: darkgreen; */
  background-color: rgba(0,100,0, .85);
  height: 75px;    

}

footer > nav {
  float: left;
}

footer > nav > ul > li {
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  text-align: center;

  
}


footer > p {
  float: right;
  padding: 10px;
}